<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Badboxd</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<form method="POST" class="post-form" action="/emp">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Preencha com seu filme favorito</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label"> Nome do Filme:</label>
    <div class="col-sm-4">
      {{ form.name }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Data que assistiu:</label>
    <div class="col-sm-4">
      {{ form.watchedDate }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Nota:</label>
    <div class="col-sm-4">
      {{ form.rating }}
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </div>
    </div>
</form>
</body>
</html>